<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.twistedphone" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- for future, if needed -->
    <application android:name=".TwistedApp" android:allowBackup="true" android:label="Twisted Phone" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".onboarding.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/> <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.FakeHomeActivity"/>
        <activity android:name=".browser.WebViewActivity"/>
        <activity android:name=".camera.CameraActivity"/>
        <activity android:name=".messages.WhosAppActivity"/>
        <activity android:name=".messages.MessagesActivity"/>
        <activity android:name=".gallery.GalleryActivity"/>
        <activity android:name=".settings.SettingsActivity"/>
        <receiver android:name=".alt.AltMessageReceiver"/>
        <receiver android:name=".alt.AltUnlockReceiver"/>
        <service android:name=".alt.AltMessageService"/>
    </application>
</manifest>
